<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label for="name" class="form-label col-form-label text-end">Name</label>
            </div>
            <div class="col-6">
              <input formControlName="name" id="name" type="text" class="form-control" />

              <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors && f['name'].errors['required']"> Name is required</div>
                <div *ngIf="f['name'].errors && f['name'].errors['minlength']"> Name should be 3 characters </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="email" class="form-label col-form-label text-end">Email</label>
            </div>
            <div class="col-6">
              <input formControlName="email" id="email" type="text" class="form-control" />

              <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']"> email is required</div>
                <div *ngIf="f['email'].errors && f['email'].errors['email']"> Email is in Invalid</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="body" class="form-label col-form-label text-end">Body</label>
            </div>
            <div class="col-6">
              <textarea formControlName="body" id="body" type="text" class="form-control"> </textarea>

              <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
                <div *ngIf="f['body'].errors && f['body'].errors['required']"> body is required</div>
              </div>
            </div>
          </div>

          <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>